// ────────────── Input Configuration ──────────────
include "input.kdl"

// ────────────── Layout Configuration ──────────────
include "layout.kdl"

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
}

// ────────────── Window/Layer Rules ──────────────
include "rules.kdl"

// ────────────── Startup Configuration ──────────────
include "startup.kdl"

environment {
    MOZ_ENABLE_WAYLAND "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
    MOZ_DBUS_REMOTE "1"
    GDK_BACKEND "wayland"
    GTK_IM_MODULE "simple"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_FORCE_DPI "physical"
    EGL_PLATFORM "wayland"
    CLUTTER_BACKEND "wayland"
    _JAVA_AWT_WM_NONREPARENTING "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 2.0
}

// ────────────── Key Binds ──────────────
include "binds.kdl"

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

include "noctalia.kdl"
