// ────────────── Window Rules ──────────────

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
    match app-id="^(steam_app_.*)$"
    variable-refresh-rate true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="ghostty"
    draw-border-with-background false
    default-column-width { proportion 0.33333; }
}

window-rule {
    match app-id="kitty"
    default-column-width { proportion 0.33333; }
}


window-rule {
    match app-id="Proton Pass" title="^Proton Pass$"
    default-column-width { proportion 0.33333; }
}

window-rule {
    match app-id="zed"
    draw-border-with-background false
}


/* Apps: blur them all without xray so it looks more realistic. */
window-rule {
  background-effect {
    blur true
    xray false
  }
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}


// ────────────── Layer Rules ──────────────

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  Noctalia publishes blur regions automatically when ext-background-effects is available.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}
